.container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  flex-direction: row;
}

.signIn_label {
  color: #1a1a1a;
  font-family: Urbanist;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%; /* 39px */
  letter-spacing: 0.6px;
}
.left-section {
  flex: 1;
  padding: 20px;
  margin-left: -15vh;
}

.right-section {
  flex: 1;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20vh;
}

.image_sign {
  border-radius: 8px;
  max-width: 784px;
  height: 704px;
  flex-shrink: 0;
}

.signin-form {
  margin-top: 20px;
  margin-left: -2rem !important;
}

.header {
  text-align: left;
  margin-bottom: 20px;
}

.header h2 {
  font-size: 24px;
  color: #333;
}

.label {
  color: #1a1a1a;
  font-family: Urbanist;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 26px */
  letter-spacing: 0.4px;
}
.sign_btn {
  display: inline-flex;
  padding: 18px 44px 20px 44px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 60px;
  background: var(--Brand-color, #ea6a06);
  margin-top: 0px;
  border: 0px;
  font-family: Urbanist;
}
button {
  background-color: #ea6a09;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #ea6a09;
}
.error {
  color: red;
}

input[type="text"],
input[type="password"] {
  width: 520px;
  height: 60px;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 6px;
  border: 1px solid #cfc7c7;
}

input[type="checkbox"] {
  margin-right: 5px;
}

@media only screen and (min-device-width: 1380px) and (max-device-width: 1558px) {
  .image_sign {
    border-radius: 8px;
    width: 504px !important;
    height: 504px !important;
    flex-shrink: 0;
  }
  input[type="text"],
  input[type="password"] {
    width: 420px;
    height: 50px;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 6px;
    border: 1px solid #cfc7c7;
  }
  .signInForm {
    margin-bottom: 3vh;
  }
}
@media only screen and (min-device-width: 1028px) and (max-device-width: 1380px) {
  .image_sign {
    border-radius: 8px;
    width: 30rem;
    height: 504px;
    flex-shrink: 0;
  }
  input[type="text"],
  input[type="password"] {
    width: 420px;
    height: 50px;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 6px;
    border: 1px solid #cfc7c7;
  }
  .signInForm {
    margin-left: -8vh !important;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1028px) {
  .container {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .image_sign {
    border-radius: 8px;
    width: 400px !important;
    height: 404px !important;
  }
  input[type="text"],
  input[type="password"] {
    width: 300px !important;
    height: 35px !important;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 6px;
    border: 1px solid #cfc7c7;
  }
  .signInForm {
    margin-left: -10vh !important;
  }
  .footer_div {
    margin-bottom: 0 !important;
  }
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  .container {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .image_sign {
    border-radius: 8px;
    width: 80%;
    height: 90%;
    margin-left: 7vh;
    margin-top: 5vh;
  }
  input[type="text"],
  input[type="password"] {
    width: 370px;
    height: 50px;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 6px;
    border: 1px solid #cfc7c7;
  }
  .signInForm {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
  }
}

@media screen and (min-width: 368px) and (max-width: 480px) {
  .container {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .image_sign {
    border-radius: 8px;
    width: 80%;
    height: 90%;
    margin-left: 5vh;
    margin-top: 5vh;
  }
  input[type="text"],
  input[type="password"] {
    width: 280px;
    height: 40px;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 6px;
    border: 1px solid #cfc7c7;
  }
  .signInForm {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
  }
  .sign_btn {
    padding: 10px 24px 10px 24px;
  }
}
@media screen and (min-width: 228px) and (max-width: 368px) {
  .image_sign {
    border-radius: 8px;
    width: 90%;
    height: 100%;

    margin-top: 5vh;
  }
  input[type="text"],
  input[type="password"] {
    width: 240px;
    height: 35px;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 6px;
    border: 1px solid #cfc7c7;
  }
  .signInForm {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
  }
  .sign_btn {
    padding: 10px 24px 10px 24px;
  }
}
